nav{
  background-color: #CCC;
  border: 1px solid black;
}

ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}

li {
	float: left;
}

li a {
	padding: 14px 16px;
	text-decoration: none;
	color: black;
	display: block;
}

li a:hover:not(.active) {
	background-color: gray;
	color: white;
}

.active {
	background-color: dodgerblue;
	color: white;
}



