h1 {
	text-align:center
}

h2 {
	font-style:italic
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.active {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline overline;
}

